@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(45deg, #f0f4 50%, #0ff6);
  border-radius: 9999px;
}

::-webkit-search-cancel-button {
  display: none;
}

body {
  color: #fff;
  min-height: 100dvh;
  max-width: 100vw;
  background: url("/bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#bgVideo {
  position: fixed;
  width: 100%;
  height: 100dvh;
  left: 0;
  top: 0;
  z-index: -1;
  object-fit: cover;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}